*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Raleway", sans-serif;
  color: #353535;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: min-content 110vh repeat(5, min-content) 40vw 40vw repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: min-content 85vh repeat(6, min-content) 40vw repeat(2, min-content); } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: min-content 80vh repeat(5, min-content) 45vw min-content 35vh repeat(2, min-content); } }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: min-content 80vh repeat(5, min-content) 45vw min-content 30vh repeat(2, min-content); } }

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #0cc3ff;
  padding: 1rem 5rem;
  border-radius: 20rem;
  transition: all .2s;
  border: none; }
  .btn:hover {
    background-color: #0cc3ff;
    color: #fff; }
  @media only screen and (max-width: 43.75em) {
    .btn {
      padding: .8rem 3rem; } }

.about {
  background-color: #000;
  grid-column: full-start / full-end;
  padding: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .about {
      padding: 7rem; } }
  @media only screen and (max-width: 43.75em) {
    .about {
      padding: 5rem; } }
  .about__text {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #0cc3ff;
    padding: 2rem 15rem; }
    @media only screen and (max-width: 50em) {
      .about__text {
        padding: 2rem; } }

.achievments {
  background-color: #1b1b1b;
  grid-column: full-start / full-end;
  padding: 10rem 15rem;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }
  @media only screen and (max-width: 62.5em) {
    .achievments {
      padding: 7rem 10rem; } }
  @media only screen and (max-width: 50em) {
    .achievments {
      padding: 7rem 10rem; } }
  @media only screen and (max-width: 43.75em) {
    .achievments {
      padding: 5rem; } }

.achievment {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem; }
  .achievment__icon {
    height: 5rem;
    width: 6rem;
    grid-row: 1 / span 2;
    transform: translateY(-0.8rem); }
    @media only screen and (max-width: 50em) {
      .achievment__icon {
        height: 4rem;
        width: 5rem; } }
  .achievment__text {
    font-size: 1.3rem; }

.features {
  grid-column: full-start / full-end;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  text-align: center;
  padding: 10rem 17rem 15rem 17rem; }
  @media only screen and (max-width: 50em) {
    .features {
      padding: 8rem 15rem 12rem 15rem; } }
  @media only screen and (max-width: 43.75em) {
    .features {
      padding: 8rem 10rem 8rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .features {
      padding: 4rem 5rem 5rem 5rem; } }
  .features__text-box {
    margin: 0 auto 10rem auto;
    max-width: 100rem; }
    @media only screen and (max-width: 43.75em) {
      .features__text-box {
        margin: 0 auto 6rem auto; } }
    @media only screen and (max-width: 37.5em) {
      .features__text-box {
        margin: 0 auto 5rem auto; } }
  .features__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #0cc3ff;
    padding-top: 6rem; }
  .features__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    text-align: center; }

.feature {
  padding: 6rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; }
  .feature__text {
    margin: 3rem;
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400; }
  .feature__text-2 {
    font-size: 1.1rem; }

.footer {
  background-color: #1b1b1b;
  grid-column: full-start / full-end;
  display: flex;
  padding: 5rem 20rem;
  gap: 5rem;
  color: #fff;
  justify-content: space-between;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 4rem 14rem; } }
  @media only screen and (max-width: 50em) {
    .footer {
      padding: 3rem 12rem;
      gap: 3rem;
      flex-direction: column-reverse;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 50em) {
    .footer {
      padding: 3rem 12rem;
      gap: 3rem;
      flex-direction: column-reverse;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 43.75em) {
    .footer {
      padding: 3rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .footer__contactus {
      min-width: 15rem; } }
  .footer__items {
    text-align: center;
    gap: 7rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .footer__items {
        gap: 1rem;
        flex-wrap: wrap; } }
  .footer__item {
    display: flex;
    flex-direction: column; }
  .footer__icons {
    margin-top: 3rem; }
    @media only screen and (max-width: 50em) {
      .footer__icons {
        margin-top: 1.5rem; } }
  @media only screen and (max-width: 50em) {
    .footer__icon {
      width: 2rem;
      height: 2rem; } }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__link:link, .footer__link:visited {
        display: none;
        visibility: hidden; } }
  .footer__link:hover {
    background-color: rgba(203, 217, 241, 0.3); }
  .footer .heading-2-margin {
    margin-bottom: 3rem;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .footer .heading-2-margin {
        margin-bottom: 1.5rem; } }

.header {
  grid-column: full-start / full-end;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .header {
      background-position: center; } }
  @media only screen and (max-width: 50em) {
    .header {
      background-position: center; } }
  .header__text {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 5rem 30rem; }
    @media only screen and (max-width: 75em) {
      .header__text {
        padding: 5rem 30rem; } }
    @media only screen and (max-width: 62.5em) {
      .header__text {
        padding: 5rem 25rem; } }
    @media only screen and (max-width: 50em) {
      .header__text {
        padding: 5rem 10rem; } }
    @media only screen and (max-width: 43.75em) {
      .header__text {
        padding: 5rem; } }
  @media only screen and (max-width: 50em) {
    .header__img {
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .header__img {
      width: 80%; } }

.quote {
  background-color: #1b1b1b;
  grid-column: full-start / full-end;
  padding: 12rem 35rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .quote {
      padding: 10rem 30rem; } }
  @media only screen and (max-width: 62.5em) {
    .quote {
      padding: 10rem 20rem; } }
  @media only screen and (max-width: 50em) {
    .quote {
      padding: 8rem 10rem; } }
  .quote__text {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #0cc3ff;
    padding-top: 2rem; }
  .quote__name {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #0cc3ff;
    padding-top: 2rem;
    width: 60rem; }

.section {
  background-color: #000;
  grid-column: full-start / full-end;
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 10rem;
  text-align: center; }
  @media only screen and (max-width: 62.5em) {
    .section {
      grid-row-gap: 3rem; } }
  @media only screen and (max-width: 50em) {
    .section {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      padding: 9rem; } }
  @media only screen and (max-width: 43.75em) {
    .section {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      padding: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .section {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      padding: 5rem 8rem; } }
  @media only screen and (max-width: 50em) {
    .section__item-1 {
      grid-row: 2 / 3; }
    .section__item-6 {
      grid-row: 5 / 6; } }
  .section__item-date {
    color: #0cc3ff; }
  .section__item-text {
    color: #0cc3ff;
    margin: 3rem;
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    padding: 0 8rem; }
    @media only screen and (max-width: 62.5em) {
      .section__item-text {
        padding: 0 5rem; } }
  .section__item-icon {
    width: 9rem;
    margin-top: 5rem; }
    @media only screen and (max-width: 50em) {
      .section__item-icon {
        margin-top: 0; } }

.story__content {
  background-color: #000;
  grid-column: full-start / col-end 4;
  padding: 15rem; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1;
      padding: 8rem 15rem; } }
  @media only screen and (max-width: 43.75em) {
    .story__content {
      padding: 5rem 8rem; } }
  .story__content-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #0cc3ff;
    padding-top: 2rem;
    padding-bottom: 5rem; }

.story__photo {
  grid-column: col-end 4 / full-end;
  background-image: url(../img/woman.jpg);
  background-size: cover; }
  @media only screen and (max-width: 50em) {
    .story__photo {
      grid-column: 1 / -1;
      grid-row: 8 / 9;
      background-position: center; } }

.buysubscription {
  grid-column: full-start / full-end;
  position: relative;
  background-image: url(../img/bg3.jpg);
  background-size: cover; }
  .buysubscription__content {
    position: absolute;
    color: #fff;
    width: 32rem;
    bottom: 10rem;
    right: 10rem;
    text-align: right; }
    @media only screen and (max-width: 50em) {
      .buysubscription__content {
        bottom: 7rem;
        right: 7rem; } }
    @media only screen and (max-width: 43.75em) {
      .buysubscription__content {
        bottom: 3rem;
        right: 4rem; } }
  .buysubscription__text {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.7rem; }

.heading-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2rem;
  color: #0cc3ff; }

.heading-2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700; }

.heading-3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem; }

.heading-4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem; }

.heading-5 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff; }

.heading-6 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: right;
  line-height: 4.5rem; }

.whychooseus {
  background-color: #000;
  grid-column: full-start / full-end;
  color: #fff;
  text-align: center;
  padding: 8rem 20rem; }
  @media only screen and (max-width: 62.5em) {
    .whychooseus {
      padding: 6rem 5rem; } }
  @media only screen and (max-width: 50em) {
    .whychooseus {
      padding: 5rem; } }
  .whychooseus__text-box {
    margin: 0 auto 5rem auto; }
  .whychooseus__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #0cc3ff;
    padding-top: 6rem; }
  .whychooseus__columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem; }
  .whychooseus__item {
    color: #fff; }
    .whychooseus__item-text {
      font-size: 1.3rem;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      padding: 3rem 7rem; }
      @media only screen and (max-width: 62.5em) {
        .whychooseus__item-text {
          padding: 2 5rem; } }
      @media only screen and (max-width: 50em) {
        .whychooseus__item-text {
          padding: 1.5rem 3rem; } }
  .whychooseus__icon {
    margin-bottom: 5rem;
    width: 5rem;
    height: 7rem; }

.navigation {
  grid-column: full-start / full-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 0 6rem 0 10rem;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .navigation {
      padding: .5rem 3rem; } }
  .navigation__logo {
    display: flex;
    align-items: center; }
  .navigation__logo-icon {
    width: 4rem;
    height: 3.5rem;
    transform: translateY(0.3rem); }
  .navigation__logo-text {
    color: #fff; }

.gym {
  color: #0cc3ff; }

.nav {
  display: flex;
  justify-content: space-between; }
  .nav__item {
    color: #0cc3ff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem 5rem;
    align-items: stretch;
    transition: all .2s; }
    @media only screen and (max-width: 50em) {
      .nav__item {
        display: none;
        visibility: hidden; } }
  .nav__item:hover {
    background-color: rgba(203, 217, 241, 0.3); }

.navigation__btn {
  display: none;
  visibility: hidden;
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4rem;
  position: absolute;
  right: 2rem; }
  .navigation__btn::before, .navigation__btn::after {
    background-color: #fff;
    height: 2px;
    width: 4rem;
    content: "";
    display: block; }
  @media only screen and (max-width: 50em) {
    .navigation__btn {
      display: initial;
      visibility: visible; }
      .navigation__btn::before {
        transform: translateY(-1.2rem); }
      .navigation__btn::after {
        transform: translateY(1rem); } }
